
.wrap {
  //width: 100vw;
  //height: 100vh;
  .contentWrap {
    //width: 1440px;

    .title {
      font-size: 36px;
      font-weight: 400;
      color: rgba(145, 25, 25, 1);
      line-height: 48px;
      padding-bottom: 40px;
      margin-bottom: 30px;
      border-bottom: 1px #A31523 solid;
    }

    .content {
      padding: 20px;
      background-color: rgba(0, 0, 0, .6);
    }
  }
}
