

.top {
  padding: 20px 50px 20px;
  display: flex;
  align-items: center;
  width: 100%;

  .title {
    font-size: 42px;
    //font-family:FZSongHei-B07;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(145, 25, 25, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .back {
    font-size: 24px;
    font-weight: 400;
    padding: 5px 28px;
    color: rgba(145, 25, 25, 1);
    border: 2px solid rgba(145, 25, 25, 1);
    border-radius: 25px;
    min-width: 168px;
  }

  //.back:hover {
  //  color: #FFFFFF;
  //  background-color: rgba(145, 25, 25, 1);
  //}
}

.wwwWrap {
  height: 100vh;
  background-image: url("./assets/页面背景.png");
  //background-color: #FFFFFF;
  overflow: hidden;

  .wwwContent {
    padding: 0 55px;
    height: calc(100vh - 121px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  :global {
    ::-webkit-scrollbar {
      width: 0;
    }
  }
}

.screenBg {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/screenPic.jpg");
  background-size: 100% 100%;
  text-align: center;

  .screenTitle {
    padding-top: 120px;
    //position: absolute;
    //top: 284px;
    font-size: 36px;
    font-weight: 400;
    color: rgba(145, 25, 25, 1);
    letter-spacing: 4px;
  }

  .screenSecondTitle {
    padding-top: 10px;
    font-size: 60px;
    font-weight: 600;
    color: rgba(145, 25, 25, 1);
    letter-spacing: 16px;
  }

  .btn {
    width: 300px;
    height: 50px;
    background-color: rgba(145, 25, 25, 1);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 16px;
    margin: 40px auto 0;
  }
}
