<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- <title>灵联云</title> -->
  <!-- Matomo -->
  <title>后台管理系统</title>
</head>
<script type="text/javascript" charset="utf-8" src="http://localhost:7001/public/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="http://localhost:7001/public/ueditor/ueditor.all.min.js"> </script>
<body>
  <div style="display:none">
    <!-- 友盟 -->
  </div>
  <div id="root"></div>
</body>
</html>

