
.itemWrap {
  //width: 1440px;
  //margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  //justify-content: space-between;
  .item {
    //background-color: #BD2321;
    background-image: url("../../assets/卡片背景.png");
    background-size: 100% 100%;
    border-radius: 1px;
    padding: 10px 10px;
    margin-bottom: 20px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 400;
      max-height: 36px;
      overflow: hidden;
      text-overflow-ellipsis: ellipse;
      color: rgba(255, 225, 145, 1);
    }

    .pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .desc {
      //width: 190px;
      width: 100%;
      //height: 39px;
      font-size: 12px;
      font-weight: 400;
      color: rgba(251, 231, 175, 1);
      opacity: 0.8;
      margin-top: 10px;
      :global{
        .ant-typography{
          color: rgba(251, 231, 175, 1);
        }
      }
    }
  }

  :global{
    div.ant-typography, .ant-typography p{
      margin-bottom: 5px;
    }
  }
}




.groupWrap + .groupWrap{
  margin-top: 20px;
}

.groupName {
  font-size: 42px;
  font-weight: 400;
  //color: rgba(255, 255, 255, 1);
  color: red;
  margin-bottom: 40px;
  display: flex;
  //align-items: baseline;
}


.tag1{
  width: 60px;
  height: 60px;
  background:rgba(145,25,25,0.3);
  position: relative;
  margin-right: 7px;
}
.tag2{
  top: 8px;
  left: 8px;
  width: 60px;
  height: 60px;
  background:rgba(145,25,25,1);
  position: absolute;
}

.groupNameLabel{
  margin-left: 7px;
  padding: 0 90px 2px 30px;
  //height: 60px;
  color: #FFFFFF;
  background:linear-gradient(90deg,rgba(145,25,25,1) 0%,rgba(145,25,25,0) 100%);
}
