


//@font-face {
//  　　font-family: '方正宋体';
//  　　src: url('http://localhost:7000/public/4105_方正宋黑_GBK.ttf'),
//}

@font-face {
  font-family: '方正宋体';  /* project id 1851276 */
  src: url('//localhost:7001/public/4105_方正宋黑_GBK.ttf') format('truetype');
}

body {
  font-family: '方正宋体';
}


:global {
  .bf-video-player {
    video {
      max-height: 80vh;
    }
  }

  .ant-tooltip {
    max-width: 100%;
  }

  .ant-table-tbody > tr > td {
    padding: 8px !important;
  }

  .edui-default .edui-editor {
    width: 100% !important;
  }
}

.container {
  height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
  padding: 0;
  min-height: auto !important;
}

.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  background-color: #FFFFFF;
  padding: 20px;
  color: rgba(0, 0, 0, .3);

  a {
    color: rgba(0, 0, 0, .3);
  }

  a:hover {
    color: #1890ff;
  }

  .breadSplit {
    margin: 0 10px;
  }
}


.top {
  padding: 70px 300px 85px;
  display: flex;
  align-items: center;
  width: 100%;

  .title {
    font-size: 52px;
    //font-family:FZSongHei-B07;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(145, 25, 25, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .back {
    font-size: 24px;
    font-weight: 400;
    padding: 5px 28px;
    color: rgba(145, 25, 25, 1);
    border: 2px solid rgba(145, 25, 25, 1);
    border-radius: 25px;
  }

  .back:hover {
    color: #FFFFFF;
    background-color: rgba(145, 25, 25, 1);
  }
}

.wwwWrap {
  height: 100vh;
  background-image: url("../pages/www/assets/页面背景.png");
  //background-color: #FFFFFF;
  overflow: hidden;

  .wwwContent {
    padding: 0 330px;
    height: calc(100vh - 236px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  :global {
    ::-webkit-scrollbar {
      width: 0;
    }
  }
}

.screenBg {
  width: 100vw;
  height: 100vh;
  background-image: url("../pages/www/assets/screenPic.jpeg");
  background-size: 100% 100%;
  text-align: center;

  .screenTitle {
    padding-top: 120px;
    //position: absolute;
    //top: 284px;
    font-size: 40px;
    font-weight: 400;
    color: rgba(145, 25, 25, 1);
    letter-spacing: 4px;
  }

  .screenSecondTitle {
    padding-top: 15px;
    font-size: 40px;
    font-weight: 500;
    color: rgba(145, 25, 25, 1);
    letter-spacing: 16px;
  }

  .btn {
    width: 400px;
    height: 90px;
    background-color: rgba(145, 25, 25, 1);
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 16px;
    margin: 40px auto 0;
  }
}
